:root {
    --titlebar-background: #212529;    
    --header-height: 80px;

    --theme-color: #00aaff;              /* Vibrant electric blue */
    --theme-color-dark: #006699;         /* Deeper calming blue for balance */
    --theme-color-light: #89dfff;        /* Lighter sky blue for soft highlights */
    
    --accent-color-dark: #cc560f;        /* Darker shade of orange for shadows */
    --accent-color: #ff6f18;             /* Bold and attractive orange for contrast */
    --accent-color-light: #ffab5f;       /* Soft peach tone for lighter accents */
    
    --neutral-color: #f0f0f0;            /* Clean, user-friendly light grey for backgrounds */
    --neutral-color-dark: #2c2f33;       /* Dark grey for body text and UI elements */
    --neutral-color-light: #ffffff;      /* Pure white for highlights and content areas */
    
    --error-color: #ff4d4d;              /* Bright red for errors or alerts */
    --success-color: #00c851;            /* Vibrant green for success notifications */

    --hero-section-background-color: #f4f4f4; 
    --color-menu-item-hover: var(--highlight-color); 
    --color-menu-item: var(--theme-color-light);
    --tooltip-background-color: var(--titlebar-background); 
    --highlight-color: #ff6f35; 
    --text-color-light :#1661c9;    
    --text-color-dark :#072146;    
    --titlebar-hover-shadow: 0 4px 10px var(--highlight-color);
    
    --red-logo-color: #ee837ab3;
    --yellow-logo-color: #f3cb55b3;
    --green-logo-color: #5ac878b3;
    --red-logo-color: #ce736ab3;
    
    --padding-content: 16px 24px;
    --padding-card: 12px 16px;
    --padding-box: 8px 12px;
    --box-shadow-standard: 0 5px 15px rgb(33 13 168 / 70%);
    --box-shadow-card: 0 5px 15px rgba(130, 128, 143, 0.7);
    --box-shadow-highlight: 0 5px 15px rgba(255, 47, 47, 0.7);
    --color-btn-bg: #003a99;

    --red: #EA4335;
    --yellow: #FBBC05;
    --green: #34A853;
    --blue: #4285F4;

    --red-opa: #EA4335b3;
    --yellow-opa: #FBBC05b3;
    --green-opa: #34A853b3;
    --blue-opa: #4285F4b3;

    /* Dropdown */
    --dropdown-background: #1e1e1e;
    --dropdown-text-color: var(--theme-color);

    /* Popup */
    --popup-background: rgba(44, 47, 51, 0.95);
    --popup-content-color: #ffffff;    
}

* {
    box-sizing: border-box;
}

h5 {
    margin: 12px;
}

h2 em {
    font-style: normal;
    color: var(--highlight-color);
}

a {
    text-decoration: none;
}

p.responsive {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}

a.responsive {
    font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}

h1.responsive {
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

h2.responsive {
    font-size: clamp(1.5rem, 2.5vw + 0.75rem, 3.2rem);
}

h3.responsive {
    font-size: clamp(1.25rem, 2vw + 0.5rem, 2.8rem);
}

h4.responsive {
    font-size: clamp(1.0rem, 1.5vw + 0.25rem, 2.5rem);
}

html, body {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: var(--text-color-dark);
    overflow-x: hidden;
}

section {
    width: 100%;
    padding: var(--padding-content);
}

main {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}




/************** Header / Titlebar **********************/
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    box-shadow: var(--theme-color-light); 
    background: var(--titlebar-background);
    backdrop-filter: blur(10px);
    background-size: cover;
    display: flex;
    padding: 12px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 678px) {
    header {
        padding: 12px 24px;
    }
    header:active {
        box-shadow: var(--titlebar-hover-shadow);
    }    
}

header:hover {
    box-shadow: var(--titlebar-hover-shadow);
}

.main-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-content);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav .menu-item {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-menu-item);
    
    padding: var(--padding-box);
    transition: color 0.3s;
}

.nav .menu-item:hover {
    color: var(--color-menu-item-hover);
}

.menu-toggle {
    display: none;    
    background: transparent;
    border: 1px solid var(--titlebar-hover-shadow);
    cursor: pointer;
}

.main-nav .logo-wrapper {
    position: relative;
    width: auto;
    height: 100%;
    perspective: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.main-nav .logo-img {
    position: relative;
    width: auto;
    height: calc(var(--header-height) - 18px);
    border-radius: 50%;
    z-index: 1;
}

/* .main-nav .logo-border {
    height: 100%;
}
.main-nav .logo-border::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    height: 93px;
    width: 93px;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--red), var(--yellow), var(--green), var(--blue)) border-box; 
    animation: rotateBorder 6.0s linear infinite; 
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
 */

.r { color: var(--red); }  /* Red */
.b { color: var(--blue); }  /* Blue */
.g { color: var(--green); }  /* Green */
.y { color: var(--yellow); }  /* Yellow */

/* Add keyframes for color animation */
@keyframes colorChange {
    0% { color: var(--red); }  /* Red */
    25% { color: var(--yellow); }  /* Yellow */
    50% { color: var(--green); }  /* Green */
    75% { color: var(--blue); }  /* Blue */
    100% { color: var(--red); }  /* Back to Red */
}

.logo span {
    animation: colorChange 6.3s linear infinite;
    transition: transform 0.3s ease-in-out;
}

.logo span:nth-child(1) { animation-delay: 0s; }  /* 'I' */
.logo span:nth-child(2) { animation-delay: 0.5s; }  /* 'C' */
.logo span:nth-child(3) { animation-delay: 1s; }  /* 'L' */
.logo span:nth-child(4) { animation-delay: 1.5s; }  /* 'I' */
.logo span:nth-child(5) { animation-delay: 2s; }  /* 'P' */
.logo span:nth-child(6) { animation-delay: 2.5s; }  /* 'S' */
.logo span:nth-child(7) { animation-delay: 3s; }  /* ' ' (space) */
.logo span:nth-child(8) { animation-delay: 3.5s; }  /* 'T' */
.logo span:nth-child(9) { animation-delay: 4s; }  /* 'E' */
.logo span:nth-child(10) { animation-delay: 4.5s; } /* 'C' */
.logo span:nth-child(11) { animation-delay: 5s; }  /* 'H' */

/************** /Header / Titlebar **********************/




/**************** Slide In-To-View Animators ****************/

.tag {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s ease;
}

li.tag:has(a):hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Slide in animations */
.slide-in-top {
    transform: translateY(-50px);
}

.slide-in-bottom {
    transform: translateY(50px);
}

.slide-in-right {
    transform: translateX(50px);
}

.slide-in-left {
    transform: translateX(-50px);
}

/* Show the tag */
.tag.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Slide to original position */
}

/**************** HERO *******************/
.hero {
    background: linear-gradient(to right, var(--theme-color-light), var(--theme-color-dark));
    color: white;
    text-align: center;
    padding: var(--padding-content);
    position: relative;
    margin-bottom: 200px;
}

.hero h1 {
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 2rem;
}

.hero button {
    padding: 1rem 2rem;
    background-color: var(--color-btn-bg);
    border: none;
    color: #0078d4;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.div-hero {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align the content */
    align-items: center;     /* Center align vertically */
    transform: translateY(40px);
}

.logo-wrapper {
    perspective: 800px;                  
    display: flex;           
    width: 100%;
    align-items: center;     
}



/****** Intro Welcome Scene **********/
.div-hero {
    transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

#welcome_show {
    width: 100%;
    height: auto;
    transition: transform 4s ease-in-out, color 4s ease-in-out;
    padding: 20px;
    position: relative;    
}

.show-welcome {
    max-width: 800px;
    /* font-size: clamp(1.9rem, 2vw + 0.75rem, 2.3rem); */
    text-shadow: var(--titlebar-hover-shadow);
    animation: scale-for-event 2.3s ease-in-out forwards, text-glow 2s ease-in-out infinite alternate;
    transform-origin: center;
}

  /* Wave animation effect */
  .wave-effect {
        animation: wave 4s ease-in-out forwards;
  }

@keyframes wave {
    0% { letter-spacing: 0; }
    50% { letter-spacing: 5px; }
    100% { letter-spacing: 0; }
}

@keyframes scale-for-event {
    0% { 
        transform: scale(1);
    }
    100% { 
        transform: scale(1.8);
    }
}

  
/******/ Intro Welcome Scene **********/






#l_img:hover, #r_img:hover {
    animation: flashElement 3s infinite ease-in-out; 
}



@keyframes text-glow {
    0%, 100% {
        text-shadow: var(--box-shadow-highlight);
    }
    50% {
        text-shadow: 0 0 15px rgb(199, 91, 91), 0 0 25px rgba(255, 255, 255, 0.8), 0 0 35px rgba(58, 129, 7, 0.6);
    }
}

.my-container {
    width: 100%;
    max-width: 100%; /* You can control maximum size */
    height: auto;
}

.circuit-line {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: draw 1.5s ease forwards, glow 2s ease-in-out infinite alternate;
  }
  
@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
}
  
@keyframes glow {
    0% {
      stroke: #009980;
      stroke-width: 2;
      filter: drop-shadow(0px 0px 10px rgba(0, 5, 153, 0.292));
    }
    50% {
      stroke: #00e5ff;
      stroke-width: 3;
      filter: drop-shadow(0px 0px 20px #00e5ff);
    }
    100% {
      stroke: #009980;
      stroke-width: 2;
      filter: drop-shadow(0px 0px 10px #009980);
    }
}

.sparkle-left {
    animation: sparkleLeftMove 2s linear infinite;
 }
  
.sparkle-right {
    animation: sparkleRightMove 2s linear infinite;
}

@keyframes sparkleLeftMove {
    0% {
      cx: 150;
      cy: 80;
    }
    50% {
      cx: 200;
      cy: 100;
    }
    100% {
      cx: 150;
      cy: 120;
    }
}
  
@keyframes sparkleRightMove {
    0% {
      cx: 600;
      cy: 80;
    }
    50% {
      cx: 550;
      cy: 100;
    }
    100% {
      cx: 600;
      cy: 120;
    }
}

@keyframes flashElement {
    0% {
      opacity: 0.9;
    }
    33% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.4;
    }    
    66% {
        opacity: 0.2;
    }
    100% {
      opacity: 0;
    }  
}
/******************* Cube 3D **********************/
.scene {
    width: 200px; 
    height: 200px; 
    perspective: 600px;
    margin: 40px auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 15s infinite linear;     
}

.cube .front p, .cube .back p {
    background-color: #cc580fc4;
    color: black;
    font-weight: 600;
}

.cube .left p, .cube .right p {
    background-color: #ffab5fc4;
    color: black;
    font-weight: 600;
    
}

.cube .top p, .cube .bottom p {
    background-color:  #ff6f18c4;
    color: black;
    font-weight: 600;
}

.cube div {
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: #efd072;
    background-image: url('/assets/images/logo-it.png'); 
    background-size: cover; 
    background-position: center; 
    border: 3px solid var(--theme-color); 
    backface-visibility: hidden; 
}


.cube .front {
    transform: rotateY(0deg) translateZ(100px);
}


.cube .back {
    transform: rotateY(180deg) translateZ(100px);
}


.cube .left {
    transform: rotateY(-90deg) translateZ(100px);
}


.cube .right {
    transform: rotateY(90deg) translateZ(100px);
}


.cube .top {
    transform: rotateX(90deg) translateZ(100px);
}


.cube .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}


@keyframes rotateCube {
    from {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.glow-text {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
                0 0 20px rgba(255, 255, 255, 0.9),
                0 0 30px rgba(255, 255, 255, 0.9),
                0 0 40px rgba(255, 0, 0, 0.9),  
                0 0 50px rgba(255, 255, 0, 0.9), 
                0 0 60px rgba(0, 255, 0, 0.9);   
}

/******************* /Cube 3D **********************/


.center-heading {
    z-index: 60;
    position: relative;
}

.center-heading h2 {
    text-align: center;
    font-weight: 700;
    color: #1e1e1e;
    margin: 50px;
}
 
.center-heading p {
    color: #888;
    text-align: center;
}

.slider-container {
    margin: 0 auto;
    transform: translateY(40px);
    width: 80%;
    min-width: 600px;
    max-width: 1200px;
    position: relative;  /* Position relative to allow absolute positioning for instruction note */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #0078d4;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ff00;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00ff00;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* Instruction note that appears on hover */
.instruction-note {
    display: none;  /* Hidden by default */
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}

/* Show the instruction when hovering near the slider */
.slider-container:hover .instruction-note {
    display: block;
}

.app-link:hover, 
.app-link:active {
    font-weight: 600;
    text-shadow: var(--box-shadow-highlight);    
} 

.project-demo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow-standard);
    perspective: 1000px;
    padding: var(--padding-content);
    margin: 12px auto;
}

/* Placeholder for the animation states */
.project-stage.active {
    opacity: 1;
}

.project-stage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.project-stage svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

/* Slider Indicator */
.slider-indicator {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-content);
    background-color: #e5e5e5;
    gap: 8rem;
}

.content-box {
    
    margin-top: 60px;
    padding-top: 1rem;
}

.spacer-for-scroll {
    height: 60px;
}

.content-box p {
    
    line-height: 1.6;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 1rem;
}

.text-content {
    text-align: center;
}

.title {
    
    font-weight: 700;
    margin: 1rem 0;
}

.description {
    
    max-width: 50ch;
    margin: 0 auto;
    opacity: 0.8;
}

/******************** What We Do ********************/
.text h4 {
    
    color: #005f99;
}

.text p {
    color: #333;
    line-height: 1.5;
}

svg {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

svg:hover {
    transform: scale(1.05);
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes draw-border {
    0% { stroke-dasharray: 300; stroke-dashoffset: 300; opacity: 1; }
    100% { stroke-dashoffset: 0; opacity: 1; }
}

@keyframes slide-in {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fade-up {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
  
.left-image-decor {
  background-image: url(../images/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 200%;
  transform: translateX(-100px);
}

.right-image-decor {
    background-image: url(../images/right-bg-decor.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    width: 100%;
    display: inline-block;
    height: 200%;
    transform: translateX(100px);
}
  
#types .left-image {
  align-self: center;
}

#types .right-text ul {
  padding: 0;
  margin: 0;
}

ul li.tag {
  display: inline-block;
  margin-bottom: 60px;
  border-radius: 12px;
  box-shadow: var(--box-shadow-card);
  padding: var(--padding-card);
}

ul li.tag:hover {
  box-shadow: var(--box-shadow-standard);
}

#types .right-text ul li:last-child {
  margin-bottom: 0px;
}

.right-text svg, .right-text img {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

#types .right-text h4 {
  
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 3px;
}

/***************** Link to Team *******************/
.team-section {
    position: relative;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
    background-color: #1e1e1e;
}
.team-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.team-content {
    position: relative;
    z-index: 1; /* Above the background */
}
.team-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007acc;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    
    transition: background-color 0.3s;
}
.team-link:hover {
    background-color: #005f99;
}

/* Animations for teamwork representation */
/* Central node pulse */
@keyframes pulse {
    0% { r: 80; opacity: 0.3; }
    50% { r: 90; opacity: 0.1; }
    100% { r: 80; opacity: 0.3; }
}
.team-node {
    animation: pulse 3s infinite ease-in-out;
}

/* Connection lines pulsating */
@keyframes pulse-line {
    0%, 100% { stroke-width: 2; opacity: 0.4; }
    50% { stroke-width: 4; opacity: 0.8; }
}
.connection {
    animation: pulse-line 5s infinite ease-in-out;
}

/* Nodes moving and representing team members */
@keyframes move-node {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0); }
}
.small-node {
    animation: move-node 4s infinite ease-in-out;
}

/* Eclipse position animation */
@keyframes eclipse {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-50px, 0); }
    100% { transform: translate(0, 0); }
}
.circle-eclipse {
    animation: eclipse 5s infinite ease-in-out;
}

/***************** About ******************/

.about-us {
    width: 1200px;
    max-width: 100%;
    margin: 80px auto;
    padding: var(--padding-content);
    background: linear-gradient(135deg, var(--theme-color-light), var(--theme-color-dark));
    border-radius: 8px;
    box-shadow: var(--box-shadow-card);
}

.illustrations {
    padding: var(--padding-content);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.illustrations .svg-icon {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
}

.illustrations .svg-icon:hover:active {
    transform: scale(1.5);
    cursor: pointer;
}

@keyframes wobble {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

.about-us .details {
    margin-top: 30px;
    padding: var(--padding-content);
    background: var(--accent-color);
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
    border: 1px solid var(--highlight-color);
}
@keyframes wobble {
    0% { transform: translate(0); }
    15% { transform: translate(-3px, 0); }
    30% { transform: translate(3px, 0); }
    45% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(0); }
}
@keyframes wobble-side {
    0% { transform: translateX(0); }
    15% { transform: translateX(-5px); }
    30% { transform: translateX(5px); }
    45% { transform: translateX(-3px); }
    60% { transform: translateX(3px); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}

/* Vertical Wobble Animation */
@keyframes wobble-up {
    0% { transform: translateY(0); }
    15% { transform: translateY(-5px); }
    30% { transform: translateY(5px); }
    45% { transform: translateY(-3px); }
    60% { transform: translateY(3px); }
    75% { transform: translateY(-1px); }
    100% { transform: translateY(0); }
}

@keyframes liquidBackground {
    0% {
        background: linear-gradient(135deg, #A5D3F7, #F8BBD0);
    }
    25% {
        background: linear-gradient(135deg, #F8BBD0, #A5D3F7);
    }
    50% {
        background: linear-gradient(135deg, #A5D3F7, #F8BBD0);
    }
    75% {
        background: linear-gradient(135deg, #F8BBD0, #A5D3F7);
    }
    100% {
        background: linear-gradient(135deg, #A5D3F7, #F8BBD0);
    }
}
/*********** ACCORDION **************/
.accordion-section {
    padding: 1rem;
}

.accordion-item {
    background-color: rgba(88, 190, 79, 0.1);
    border-radius: 12px;
    margin-bottom: 1rem;
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 360px; /* Adjusted for smaller screens */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.accordion-button:focus {
    outline: none;
}

.accordion-button:focus-visible {
    outline: 2px solid rgba(88, 190, 79, 0.8); /* Example outline */
    outline-offset: 2px;
}

/* Active State Style */
.accordion-button:active {
    background-color: rgba(88, 190, 79, 0.2);
    outline: 2px solid rgba(88, 190, 79, 0.8);
    outline-offset: 2px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(88, 190, 79, 1);
    border-radius: 50%;
    margin-right: 1rem;
}

.accordion-title {
    
    margin: 0;
    flex: 1; /* Allows the title to take up available space */
    text-align: left; /* Aligns text to the left */
}

.accordion-content {
    height: 120px;
    padding: var(--padding-content);
    color: #fff;
    background: var(--theme-color);
    display: none;
    
}

.icon {
    width: 19px;
    height: 19px;
}

/********************** EFFICENCY *******************/
.efficiency-section {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.efficiency-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.efficiency-section .section-description {
    
    color: #666;
    margin-bottom: 2rem;
}

.efficiency-section .illustrations {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.efficiency-section .svg-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 150px;
}

.efficiency-section .illustration-description {
    
    color: #333;
    margin-top: 0.5rem;
}

.section-title {
    
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.dev-environment-section .section-description {
    
    line-height: 1.6;
    margin: 0 auto;
}


/************************** Projects ****************************/
#projects {
  padding: var(--padding-content);
}

#projects .left-image {
  align-self: center;
}

#projects .right-text ul {
  padding: 0;
  margin: 0;
}

#projects .right-text ul li {
  display: inline-block;
  margin-bottom: 60px;
}

#projects .right-text ul li:last-child {
  margin-bottom: 0px;
}

#projects .right-text img {
  display: inline-block;
  margin-right: 30px;
}

#projects .right-text h4 {
  
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 3px;
}

#projects a {
    text-decoration: none;
    cursor: pointer;
}


/************************ Footer **********************/
  
footer {
    margin-top: 200px;
    padding-top: var(--padding-content);    
    width: 100%;
    color: var(--text-color-light);
}
  
footer .footer-content {
    padding: var(--padding-content);
    text-align: center;    
    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 100%);
    overflow: hidden;
    display: relative;
}

.dune {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* SVG styles */
.dune svg {
    width: 100%;
    height: 100%;
}

footer .social {
    margin-top: 30px;
    display: flex;
    gap: 44px;
}

footer .social:first-child {
    margin-left: 0px;  
}

footer .social {
    margin: 0px 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: transparent;
    width: 44px;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

footer .social a:hover {
    border: 2px solid #fba70b;
    color: var(--color-menu-item-hover);
    border-radius: 50%;
    background-color: #fba70b47;
}

footer .copyright {
    margin-top: 10px;
    font-weight: 400;
    
    letter-spacing: 0.88px;
    text-transform: capitalize;
}

footer .sub-footer {
    padding: 60px 0px;
    border-top: 1px solid var(--theme-color-light);
    text-align: center;
}

footer .sub-footer a {
    color: #FFF;
}

footer .sub-footer a:hover {
    color: #FC3;
}

footer .sub-footer p {
    color: #fff;
    
    font-weight: 300;
    letter-spacing: 0.5px;
}

/**************** Responsive Styling *******************/
@media (min-width: 600px) {
    .accordion-button {
        min-width: 350px; 
    }
    
}

@media (max-width: 768px) {
    .svg-container {
        width: 100%;
    }   
}


@media (min-width: 800px) {
    .container {
        padding: 0;
    }

    .accordion-item {
        margin-bottom: 1.5rem;
    }
    
    .accordion-button {
        min-width: 400px; /* Larger for larger screens */
    }    
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2rem;
    }

    .accordion-button {
        min-width: 450px; /* Even larger for extra-large screens */
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 992px) {
    .nav {
        display: none!important; /* Initially hidden on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: var(--theme-color-light);
        box-shadow: var(--box-shadow-highlight);
        padding: var(--padding-card);
        min-width: 180px;
        z-index: 10;
    }

    .nav.active {
        display: flex!important;
    }

    .menu-toggle {
        display: block;
    }

    .menu-item {        
        padding: var(--padding-box);
    }
    
    footer {
        padding-top: 0px;
        margin-top: 0px;
    }
    .contact-form {
        margin-bottom: 45px;
    }
     
    footer .footer-content {
        padding: 60px 0px!important;
    }

    footer .copyright, footer .social, 
    footer .right-content {
        text-align: center;
    }    
}

@media (max-width: 991px) {
    html, body {
      overflow-x: hidden;
    }    
}


/**************************************FUN**************************************/
button {
    background-color: var(--theme-color);
    color: var(--neutral-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--theme-color-dark);
}

button:active {
    background-color: var(--accent-color);
}

/* Highlights */
h1, h2, h3 {
    color: var(--accent-color);
}

/* Background */
body {
    background-color: var(--neutral-color);
    color: var(--neutral-color-dark);
}
/**************************************/FUN**************************************/