:root {
    --content-padding: 16px 24px; 
}

* {
    box-sizing: border-box;
}

h5 {
    margin: 12px;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    height: 100%;
}

/************** Header **********************/
/* Define the keyframes for the color transition */
@keyframes colorTransition {
    0% {
        background-color: #ee837a; /* Red */
    }
    25% {
        background-color: #f3cb55; /* Yellow */
    }
    50% {
        background-color: #5ac878; /* Green */
    }
    75% {
        background-color: #85aeef; /* Blue */
    }
    100% {
        background-color: #ce736a; /* Red */
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7); /* Initial background color */
    color: #5e6368;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    padding: var(--content-padding);
}

/* Color transition on hover */
header:hover {
    box-shadow: var(--titlebar-hover-shadow);
    animation: colorTransition 10s infinite; /* Apply the color transition */
}


.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

header h1 {
    font-size: clamp(30px, 4vw, 48px);
    font-weight: 900;
    letter-spacing: -2px;
    color: #333;
    font-family: 'Orbitron', sans-serif;
    transition: transform 0.2s ease-in-out;
}

header h1 span {
    letter-spacing: -4px;
}

header h1:hover {
    transform: scale(1.1);
}

/* Logo color classes */
.r { color: #EA4335; }  /* Red */
.b { color: #4285F4; }  /* Blue */
.g { color: #34A853; }  /* Green */
.y { color: #FBBC05; }  /* Yellow */

/* Add keyframes for color animation */
@keyframes colorChange {
    0% { color: #EA4335; }  /* Red */
    25% { color: #FBBC05; }  /* Yellow */
    50% { color: #34A853; }  /* Green */
    75% { color: #4285F4; }  /* Blue */
    100% { color: #EA4335; }  /* Back to Red */
}

.logo span {
    animation: colorChange 6s linear infinite;
    transition: transform 0.3s ease-in-out;
}

.logo span:nth-child(1) { animation-delay: 0s; }  /* 'I' */
.logo span:nth-child(2) { animation-delay: 0.5s; }  /* 'C' */
.logo span:nth-child(3) { animation-delay: 1s; }  /* 'L' */
.logo span:nth-child(4) { animation-delay: 1.5s; }  /* 'I' */
.logo span:nth-child(5) { animation-delay: 2s; }  /* 'P' */
.logo span:nth-child(6) { animation-delay: 2.5s; }  /* 'S' */
.logo span:nth-child(7) { animation-delay: 3s; }  /* ' ' (space) */
.logo span:nth-child(8) { animation-delay: 3.5s; }  /* 'T' */
.logo span:nth-child(9) { animation-delay: 4s; }  /* 'E' */
.logo span:nth-child(10) { animation-delay: 4.5s; } /* 'C' */
.logo span:nth-child(11) { animation-delay: 5s; }  /* 'H' */

/* Add hover effect to make the logo stand out further */
.logo-name span:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.logo {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.logo:hover,
.logo:active {
    transform: scale(1.4);
}

/* CSS for circuit line animation */
.circuit-line {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 1.5s ease forwards;
}

/* Animation to draw the lines */
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/* Navigation links */
.nav {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav .menu-item {
    text-decoration: none;
    font-weight: 500;
    color: #5e6368;
    font-size: clamp(16px, 2vw, 18px);
    padding: 10px;
    transition: color 0.3s;
}

.nav .menu-item:hover {
    color: #000;
}

/* Menu Toggle for Mobile */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Ensure logo scales well across different sizes */
@media (max-width: 480px) {
    header h1 {
        font-size: clamp(24px, 5vw, 36px);
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav {
        top: 60px;
    }
}

/**************** HERO *******************/
.hero {
    background: linear-gradient(to right, #4CAF50, #FFC107);
    color: white;
    text-align: center;
    padding: var(--content-padding);;
    position: relative;
    margin-top: 100px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero button {
    padding: 1rem 2rem;
    background-color: #fff;
    border: none;
    color: #0078d4;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.center-heading {
    margin-bottom: 70px;
}
  
.center-heading h2 {
    margin-top: 0px;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 25px;
}
  
.center-heading h2 em {
    font-style: normal;
    color: #f4813f;
}
  
.center-heading p {
    font-size: 20px;
    color: #888;
    text-align: center;
}




.slider-container {
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
    position: relative;  /* Position relative to allow absolute positioning for instruction note */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

/* Increase the size of the slider knob */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px; /* Larger knob */
    height: 30px;
    border-radius: 50%;
    background: #4285F4; /* Custom color */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4285F4;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Add a hover effect for the slider knob */
.slider::-webkit-slider-thumb:hover, .slider::-moz-range-thumb:hover {
    transform: scale(1.2);  /* Make the knob larger when hovered */
}

/* Instruction note that appears on hover */
.instruction-note {
    display: none;  /* Hidden by default */
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

/* Show the instruction when hovering near the slider */
.slider-container:hover .instruction-note {
    display: block;
}


.project-demo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(46, 36, 36, 0.7);
    perspective: 1000px;
    padding: var(--content-padding);
    margin: 12px auto;
}

/* Placeholder for the animation states */
.project-stage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.project-stage svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

/* Slider Indicator */
.slider-indicator {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #e5e5e5;
    gap: 8rem;
}

.content-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content-box h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content-box p {
    font-size: 1rem;
    line-height: 1.6;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 1rem;
}

.text-content {
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

.description {
    font-size: 1rem;
    max-width: 50ch;
    margin: 0 auto;
    opacity: 0.8;
}

/*********** ACCORDION **************/
.accordion-section {
    padding: 1rem;
}

.accordion-item {
    background-color: rgba(88, 190, 79, 0.1);
    border-radius: 12px;
    margin-bottom: 1rem;
}

.accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
    min-width: 360px; /* Adjusted for smaller screens */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.accordion-button:focus {
    outline: none;
}

.accordion-button:focus-visible {
    outline: 2px solid rgba(88, 190, 79, 0.8); /* Example outline */
    outline-offset: 2px;
}

/* Active State Style */
.accordion-button:active {
    background-color: rgba(88, 190, 79, 0.2); /* Example active background color */
    /* Apply focus-visible styles to active state */
    outline: 2px solid rgba(88, 190, 79, 0.8);
    outline-offset: 2px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(88, 190, 79, 1);
    border-radius: 50%;
    margin-right: 1rem;
}

.accordion-title {
    font-size: 1rem;
    margin: 0;
    flex: 1; /* Allows the title to take up available space */
    text-align: left; /* Aligns text to the left */
}

.icon {
    width: 19px;
    height: 19px;
}

/********************** EFFICENCY *******************/
.efficiency-section {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.efficiency-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.efficiency-section .section-description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.efficiency-section .illustrations {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.efficiency-section .svg-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 150px;
}

.efficiency-section .illustration-description {
    font-size: 1rem;
    color: #333;
    margin-top: 0.5rem;
}


/****************** DEVELOPMENT ENVIROMENT ***********************/
.dev-environment-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective: 1000px;
}

.dev-environment-section .background {
    background-image: url('../images/dev&create.webp');
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.dev-environment-section .overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for overlay */
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 80%;
    transform: translateZ(100px);
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.dev-environment-section .section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto;
}

.dev-environment-section .code-editor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.code-editor svg {
    width: 100%;
    height: auto;
}

/**************** Responsive Styling *******************/
@media (min-width: 600px) {
    .accordion-button {
        min-width: 350px; 
    }

    .accordion-title {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .illustrations {
        flex-direction: column;
        gap: 1rem;
    }

    .svg-container {
        width: 100%;
    }    
    .code-editor {
        flex-direction: column;
    }
    
    .section-title {
        font-size: 2rem;
    }
    
    .section-description {
        font-size: 1rem;
    }
}


@media (min-width: 800px) {
    .container {
        padding: 0;
    }

    .accordion-item {
        margin-bottom: 1.5rem;
    }
    
    .accordion-button {
        min-width: 400px; /* Larger for larger screens */
    }

    .accordion-title {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2rem;
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 1.25rem;
    }
    
     .accordion-button {
        min-width: 450px; /* Even larger for extra-large screens */
    }

    .accordion-title {
        font-size: 1.3rem;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}

a.main-button {
    font-size: 1.3em;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f4813f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    }

a.main-button:hover {
    background-color: #f1556a;
}

button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f4813f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button.main-button:hover {
    background-color: #f1556a;
}

.alert-primary {
    margin-top: 20px;
    display: none;
    overflow: hidden;
    transition: height 0.8s ease;
}










/**************** Responsive Styling *******************/
@media (min-width: 600px) {
    .accordion-button {
        min-width: 350px; 
    }

    .accordion-title {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .illustrations {
        flex-direction: column;
        gap: 1rem;
    }

    .svg-container {
        width: 100%;
    }    
    .code-editor {
        flex-direction: column;
    }
    
    .section-title {
        font-size: 2rem;
    }
    
    .section-description {
        font-size: 1rem;
    }
}


@media (min-width: 800px) {
    .container {
        padding: 0;
    }

    .accordion-item {
        margin-bottom: 1.5rem;
    }
    
    .accordion-button {
        min-width: 400px; /* Larger for larger screens */
    }

    .accordion-title {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 2rem;
    }

    .title {
        font-size: 3rem;
    }

    .description {
        font-size: 1.25rem;
    }
    
     .accordion-button {
        min-width: 450px; /* Even larger for extra-large screens */
    }

    .accordion-title {
        font-size: 1.3rem;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 992px) {
    .nav {
        display: none!important; /* Initially hidden on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        padding: 10px;
        width: 200px;
        z-index: 10;
    }

    .nav.active {
        display: flex!important; /* Show nav when active */
    }

    .menu-toggle {
        display: block;
    }

    .menu-item {
        font-size: 18px;
        padding: 10px 0;
    }
    
    footer {
        padding-top: 0px!important;
        margin-top: 0px!important;
    }
    .contact-form {
        margin-bottom: 45px;
    }
     
    footer .footer-content {
        padding: 60px 0px!important;
    }

    footer .copyright, footer .social, 
    footer .right-content {
        text-align: center;
    }    
}
  
footer {
    margin-top: 200px;
    padding-top: 120px;
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}
  
footer .footer-content {
    padding: 120px 0px;
}
  
.contact-form {
    position: relative;
    z-index: 10;
    padding: 45px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    
}

footer .right-content {
align-self: center;
}

.contact-form input,
.contact-form textarea {
color: #777;
font-size: 1.3em;
border: 1px solid #eee;
background-color: #f7f7f7;
border-radius: 5px;
width: 100%;
height: 50px;
outline: none;
padding-left: 20px;
padding-right: 20px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin-bottom: 30px;
}

.contact-form textarea {
height: 150px;
resize: none;
padding: 20px;
}

.contact-form {
text-align: center;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
color: #7a7a7a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #7a7a7a;
}

.contact-form ::placeholder {
color: #7a7a7a;
}

.footer-content .right-content {
color: #fff;
}

.footer-content .right-content h2 {
margin-top: 0px;
margin-bottom: 30px;
font-size: 42px;
text-transform: capitalize;
font-weight: 700;
letter-spacing: 1px;
}

.footer-content .right-content h2 em {
font-style: normal;
color: #fba70b;
}

.footer-content .right-content p {
color: #FFF;
}

.footer-content .right-content a {
color: #FFF;
}

.footer-content .right-content a:hover {
color: #FC3;
}

footer .social {
margin-top: 30px;
display: flex;
gap: 44px;
}

footer .social li:first-child {
margin-left: 0px;  
}

footer .social li {
margin: 0px 7.5px;
display: inline-block;
}

footer .social li a {
color: #fff;
text-align: center;
background-color: transparent;
border: 1px solid #fff;
width: 44px;
height: 44px;
line-height: 44px;
border-radius: 50%;
display: inline-block;
font-size: 16px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

footer .social li a:hover {
background-color: #fba70b;
border-color: #fba70b;
color: #fff;
}

footer .copyright {
margin-top: 10px;
font-weight: 400;
font-size: 15px;
color: #4a4a4a;
letter-spacing: 0.88px;
text-transform: capitalize;
}

footer .sub-footer {
padding: 60px 0px;
border-top: 1px solid rgba(250,250,250,0.3);
text-align: center;
}

footer .sub-footer a {
    color: #FFF;
}

footer .sub-footer a:hover {
    color: #FC3;
}

footer .sub-footer p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
